@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* font-family: 'DM Sans', sans-serif; */

:root {
    --green: #008000;
    --blue: #9CFFFA;
    --yellow: #F7D917;
    --white: #F5F4F5;
    --black: #1B1B1E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--black);
}

.start_game {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
}

.start_game h1 {
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
}

.start_game button {
    outline: 0;
    border: none;
    padding: 1rem 3rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s all ease-out;
}

.start_game button:hover {
    font-weight: 700;
    background: linear-gradient(to top, var(--green), var(--yellow));
    box-shadow: 0px 0px 15px 0px var(--blue);
    transform: scale(1.2);
}

.start_game .portal {
    position: absolute;
    max-width: 33rem;
    width: 100%;
    z-index: -1;
}

.start_game .element1 {
    position: absolute;
    top: .1rem;
    left: 10rem;
    max-width: 30rem;
    width: 100%;
    transform: rotate(-20deg);
}

.start_game .element2 {
    position: absolute;
    bottom: 1rem;
    right: .2rem;
    max-width: 30rem;
    width: 100%;
    transform: rotate(30deg);
}

.start_game .element3 {
    position: absolute;
    top: 1rem;
    right: 10rem;
    max-width: 30rem;
    width: 100%;
    border-radius: 30rem;
}

.start_game .element4 {
    position: absolute;
    bottom: .6rem;
    left: 75rem;
    max-width: 10rem;
    width: 100%;
    border-radius: 0 0 10rem 10rem;
}

.start_game .element5 {
    position: absolute;
    bottom: .6rem;
    right: 75rem;
    max-width: 10rem;
    width: 100%;
}

.start_game .element6 {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    max-width: 25rem;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, var(--yellow), var(--blue));
    border: 1px solid black;
    width: 8rem;
    height: 12rem;
    border-radius: 1rem;
    transition: 1s all ease;
    cursor: pointer;
    position: relative;
}

.card img {
    border-radius: 1rem;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    transition: .5s all ease;
}

.same {
    filter: blur(.3rem);
}