* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid black;
    width: 8rem;
    height: 12rem;
    border-radius: 1rem;
    transition: 1s all ease;
    cursor: pointer;
    position: relative;
}

.card img {
    border-radius: 1rem;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    transition: .5s all ease;
}

/* .card:hover {
    opacity: .7;
} */

.same {
    filter: grayscale(1);
}